body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1 {
    padding-left: 10px;
    color: orange;
}

p {
    padding-left: 10px;
}

.wrapper {
    color: green;
}